/* .nav-stick{
    position: fixed;
} */
* {
  text-decoration: none;
}

.btn-view:hover {
  color: rgb(245, 6, 117);
}
.nav-link:hover {
  font-weight: bold;
}

.pro-link {
  background-color: #74069c;
  color: white;
  font-weight: 500;
  padding: 3px 10px;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid #74069c;
}
.pro-link:hover{
  background-color: #4a2059;
  color: white;
  font-weight: 500;
  padding: 3px 10px;
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid #4a2059;
}
